{
  "presets": ["@babel/env", "@babel/react", "babel-preset-gatsby"],
  "plugins": [
    "emotion",
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "./lib",
        "rootPathPrefix": "~"
      }
    ]
  ]
}
